<!DOCTYPE html>
<html>
    <head>
        <title>SmartBot Automation</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>

            <div class="hero-content">

                <h1 style="font-size:52px;">SmartBot Automation</h1>

                <p style="font-size:24px; margin-top:15px;">
                    AI + RPA Solutions for Modern Businesses
                </p>

                <p style="margin-top:15px;">
                    We automate repetitive work using Artificial Intelligence,
                    Python Automation and Robotic Process Automation.
                </p>

                <a href="#contact" class="btn">
                    Book Free Consultation
                </a>

            </div>

            <div class="hero-image">
                <img
                    src="https://images.unsplash.com/photo-1485827404703-89b55fcc595e?w=700"
                    alt="AI Automation">
            </div>

        </header>

        <section>

            <h2>Services</h2>
            <div class="cards">
                <div class="card">

                    <img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?w=500"
                    style="width:100%;height:170px;object-fit:cover;border-radius:10px;">

                    <h3 style="margin-top:15px;">RPA Development</h3>
                    <p>
                    Automate repetitive business processes with UiPath.
                    </p>

                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1515879218367-8466d910aaa4?w=500"
                    style="width:100%;height:170px;object-fit:cover;border-radius:10px;">
                    <h3 style="margin-top:15px;">Python Automation</h3>
                    <p>
                    Automate tasks with Python scripts and libraries.
                    </p>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1677442136019-21780ecad995?w=500"
                    style="width:100%;height:170px;object-fit:cover;border-radius:10px;">
                    <h3 style="margin-top:15px;">AI Chatbots</h3>
                    <p>
                    Create intelligent chatbots for customer support.
                    </p>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1554224155-6726b3ff858f?w=500"
                    style="width:100%;height:170px;object-fit:cover;border-radius:10px;">
                    <h3 style="margin-top:15px;">Invoice Automation</h3>
                    <p>
                    Automate invoice processing and approval workflows.
                    </p>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1557200134-90327ee9fafa?w=500"
                    style="width:100%;height:170px;object-fit:cover;border-radius:10px;">
                    <h3 style="margin-top:15px;">Email Automation</h3>
                    <p>
                    Automate email responses and follow-ups.
                    </p>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?w=500"
                    style="width:100%;height:170px;object-fit:cover;border-radius:10px;">
                    <h3 style="margin-top:15px;">Web Automation</h3>
                    <p>
                    Automate web scraping and data extraction tasks.
                    </p>
                </div>
            </div>

        </section>


        <section class="why">

            <h2>Why SmartBot?</h2>
            <ul>
                <li>✔ 80% Faster Processes</li>
                <li>✔ Cost Saving</li>
                <li>✔ AI Powered</li>
                <li>✔ Secure</li>
            </ul>

        </section>


        <section>

            <h2>Recent Projects</h2>
            <div class="cards">
                <div class="card">

                    <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?w=500"
                    style="width:100%;height:180px;object-fit:cover;">

                    <h3>Invoice Automation</h3>

                    <p>
                    Reduced invoice processing time by 90%.
                    </p>

                    </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1555066931-4365d14bab8c?w=500"
                    style="width:100%;height:180px;object-fit:cover;">
                    <h3>Email Processing</h3>
                    <p>
                    Automated email responses and follow-ups.
                    </p>
                </div>
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0cvoR9OFnO4A0MLS5cAIY2-LRfiGi1XKxMNc06Cw1ug&s=10"
                    style="width:100%;height:180px;object-fit:cover;">
                    <h3>Document OCR</h3>
                    <p>
                    Extracted text from scanned documents.
                    </p>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1554224155-6726b3ff858f?w=500"
                    style="width:100%;height:180px;object-fit:cover;">
                    <h3>Data Migration</h3>
                    <p>
                    Seamlessly migrate data between systems.
                    </p>
                </div>
            </div>

        </section>


        <section id="contact">

            <h2>Contact Us</h2>

            <form id="contactForm">

                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="text" name="company" placeholder="Company">
                <textarea name="message" placeholder="Message"></textarea>
                <button type="submit"> Send </button>

            </form>

        </section>

        <!-- SweetAlert2 Library -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script src="{{ url_for('static', path='js/script.js') }}"></script>

        <footer>
            <p>© 2026 SmartBot Automation</p>
        </footer>
        
        
    </body>

</html>